.button {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-size: calc(13px + var(--value-font-size));
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 30px 42px 24px 42px;
  border-radius: 0;
  outline: 0;
  border: 0;
  background: transparent;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
}

.button .text {
  position: relative;
  z-index: 1;
}
.button .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button .icon svg {
  display: block;
  position: absolute;
  width: 100% !important;
  height: 100%;
  transition: fill 0.2s ease-out, stroke 0.2s ease-out;
  overflow: visible;
}

.button-large {
  padding: 40px 52px 34px 52px;
}
.button-huge {
  padding: 50px 62px 44px 62px;
}

.button--primary span {
  color: var(--white-color) !important;
}
.button--primary:hover span {
  color: var(--black-color) !important;
}
.button--primary:hover svg {
  fill: var(--white-color) !important;
  stroke: var(--black-color) !important;
}

.button--secondary span {
  color: var(--black-color) !important;
}
.button--secondary:hover span {
  color: var(--white-color) !important;
}
.button--secondary svg {
  fill: transparent !important;
}
.button--secondary:hover svg {
  fill: var(--black-color) !important;
}

@media (min-width: 3840px) {
  .button {
    padding: 50px 64px 44px 64px;
  }
}
